.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin: 2px;
    height: 4rem;
}

.appLogo>a>img{
    height: 4rem;
    width: 6rem;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.navItems{
    color: black;
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    
}
.navItems>li>a{
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
}